@using Microsoft.AspNetCore.Mvc.TagHelpers.Internal
@model System.Tuple<System.Collections.Generic.List<PromotionEventsApp.Models.Entities.Event>, System.Collections.Generic.List<PromotionEventsApp.Models.Entities.Event>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2><strong>Nadchodzące wydarzenia</strong></h2>
            <br />
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

            @if (!Model.Item1.Any())
            {
                <div class="carousel-item active text-center">
                    <h2 style="color: green "><i class="fas fa-frown"></i></h2>
                    <h4>Brak nadchodzących wydarzeń </h4>
                    <p></p>
                    <a class="btn btn-outline-success" asp-controller="Event" asp-action="List">Przejdz do Listy wydarzeń</a>
                    <p></p>
                </div>
            }
            @for (var i = 0; i < Model.Item1.Count; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active text-center">
                        <h2 style="color: green ">@Model.Item1.ElementAt(i).Name</h2>
                        <h4>@Model.Item1.ElementAt(i).StartTime.ToShortDateString() - @Model.Item1.ElementAt(i).EndTime.ToShortDateString() </h4>
                        <p></p>
                        <a class="btn btn-outline-success" asp-controller="Event" asp-action="Details" asp-route-id="@Model.Item1.ElementAt(i).Id">Dowiedz się więcej...</a>
                        <p></p>
                    </div>
                }
                else
                {

                    <div class="carousel-item text-center">

                        <h2 style="color: green">@Model.Item1.ElementAt(i).Name</h2>
                        <h4>@Model.Item1.ElementAt(i).StartTime.ToShortDateString() - @Model.Item1.ElementAt(i).EndTime.ToShortDateString() </h4>
                        <p></p>
                        <a class="btn btn-outline-success" asp-controller="Event" asp-action="Details" asp-route-id="@Model.Item1.ElementAt(i).Id">Dowiedz się więcej...</a>
                        <p></p>


                    </div>
                }

            }


        </div>
        <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" style="color: green" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="false"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col text-center">
            @if (Model.Item2.Any())
            {
                <a style="text-decoration: none;" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                    <h2> <strong>Obecnie trwają <i class="fas fa-chevron-circle-down expand_caret"></i></strong></h2>

                </a>
                <br />
                <div class="collapse" id="collapse">
                    @foreach (var el in Model.Item2)
                    {
                        <hr />
                        <div class="row">
                            <div class="col text-left">
                                <h3>@el.Name</h3>
                            </div>
                            <div class="col">
                                <h3>@el.StartTime.ToShortDateString() - @el.EndTime.ToShortDateString()</h3>

                            </div>
                            <div class="col">
                                <a class="btn btn-outline-success" asp-controller="Event" asp-action="Details" asp-route-id="@el.Id"> Dowiedz się więcej...</a>
                            </div>

                        </div>

                    }
                </div>
            }
            else
            {
                <h2><strong>Brak obecnie trwających wydarzeń <i class="fas fa-frown"></i></strong></h2>

            }
        </div>
    </div>


</div>