@using System.Security.AccessControl
@model PromotionEventsApp.ViewModels.EventViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <h1>
                <i class="fas fa-info-circle"></i> @ViewData["Title"]
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <h5>
                        <strong>Nazwa</strong>
                    </h5>
                </div>
                <div class="col-sm-6">
                    <h5>@Model.Name</h5>
                </div>
            </div>
            <div class=" row">
                <div class="col-sm-4">
                    <h5>
                        <strong>Opis</strong>
                    </h5>
                </div>
                <div class="col-sm-6">
                    <h5>@Model.Description</h5>
                </div>
            </div>
            <div class=" row">
                <div class="col-sm-4">
                    <h5>
                        <strong>Data startu</strong>
                    </h5>
                </div>
                <div class="col-sm-6">
                    <h5>@Model.StartTime.ToShortDateString()</h5>
                </div>
            </div>
            <div class=" row">
                <div class="col-sm-4">
                    <h5>
                        <strong>Data zakończenia</strong>
                    </h5>
                </div>
                <div class="col-sm-6">
                    <h5>@Model.EndTime.ToShortDateString()</h5>
                </div>
            </div>
            <hr />
            @if (User.Identity.IsAuthenticated)
            {
                <div class=" row">
                    <div class="col text-right">
                        @if (Model.Members.All(_ => _.UserName != User.Identity.Name))
                        {
                            <a asp-action="JoinToEvent" asp-route-eventId="@Model.Id" class="btn btn-outline-success"> Zapisz się <i class="fas fa-plus"></i></a>
                        }
                        else
                        {
                            <a asp-action="JoinToEvent" asp-route-eventId="@Model.Id" class="btn btn-outline-danger"> Opusc wydarzenie <i class="fas fa-user-times"></i> </a>
                        }
                    </div>
                </div>
                <hr />
                <p></p>
            }
            <div class="form-group row">
                <div class="col-sm-6">
                    <h5>
                        <b><i class="fas fa-users"></i> Lista uczestników</b>
                        <a class="float-right" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseMemberList" aria-expanded="false">
                            Rozwiń / zwiń
                            <i class="fas fa-chevron-circle-down expand_caret"></i>
                        </a>
                    </h5>
                    <div class="collapse" id="collapseMemberList">
                        @if (!Model.Members.Any())
                        {
                            <h4> Brak uczestników</h4>
                        }
                        else
                        {
                            foreach (var member in Model.Members)
                            {
                                <strong>@($"{@member.FirstName} {@member.LastName}")</strong><br />
                            }
                        }
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5>
                        <b><i class="fas fa-map-marker-alt"></i> Punkty</b>
                        <a class="float-right" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseSpotList" aria-expanded="false">
                            Rozwiń / zwiń
                            <i class="fas fa-chevron-circle-down expand_caret"></i>
                        </a>
                    </h5>
                    <div class="collapse" id="collapseSpotList">
                        //TODO LIST ALL Points
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
