@model IEnumerable<PromotionEventsApp.Models.Event>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a class="btn btn-outline-success" asp-action="CreateEvent">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="12">
                @Html.DisplayNameFor(model => model.Name)
            </th>




        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="show(@item.Id)">
                <td colspan="10">
                    @Html.DisplayFor(modelItem => item.Name)


                </td>
                <td colspan="2">
                    <span class="float-right"> <i class="fas fa-angle-double-down"></i></span>
                </td>



            </tr>
            <tr id="tr@(item.Id)" style="display: none">
                <td colspan="4">
                    <strong>Start: </strong> @item.StartTime.ToShortDateString()
                </td>
                <td colspan="4">
                    <strong>Zakończenie: </strong> @item.EndTime.ToShortDateString()
                </td>

                <td colspan="4 " class="text-right">
                    <a class="btn btn-outline-info">Detais</a>
                    <a class="btn btn-outline-warning">Edit</a>
                    <a class="btn btn-outline-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        function show(id) {
            $('#tr' + id).toggle();

        };
    </script>
}
